################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mhm-api/.vs/mhm-api/FileContentIndex/11edc22b-498e-4079-9906-11116da359c9.vsidx
